@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

:root {
  --color-bg: #f9f9f9;
}

[data-theme="light"] {
  --color-bg: #f9f9f9;
}

[data-theme="dark"] {
  --color-bg: #282c36;
}

html,
body {
  max-width: 100em;
  margin: 0 auto;

  background-color: var(--color-bg);

  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}